QMessageBox QPushButton {
    color: #fff;
    background-color: transparent;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    font-size: 15px;
    height:20px;
    width: 100px;
}

QMessageBox QLabel {
    font-size: 15px;
    min-width: 200px;
}
 
QMessageBox QPushButton:hover {
    background-color: #00BCff;
}
 
QMessageBox QPushButton:pressed {
    border-color: #00BCff;
    color: #00BCff;
}